.DS_Store
.env
.venv/
__pycache__/
*.pyc
node_modules/
dist/
build/

shopify.app.shopifyappdemotoml.toml
shopify.app.styledgenieb2b-testextension-directories-shopifytheme-app-extension.toml
Claude Docs/
